<a href="https://colab.research.google.com/github/Aboeleneen/Quora-Question-Pair/blob/master/Quora_Question_pair.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Loading

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
root_path = '/content/drive/My Drive/Quora_Question_pair/unzipped_dataset/'

In [ ]:
df=pd.read_csv(root_path + 'train.csv')
df

            id  ...  is_duplicate
0            0  ...             0
1            1  ...             0
2            2  ...             0
3            3  ...             0
4            4  ...             0
...        ...  ...           ...
404285  404285  ...             0
404286  404286  ...             1
404287  404287  ...             0
404288  404288  ...             0
404289  404289  ...             0

[404290 rows x 6 columns]

In [ ]:
df2=pd.read_csv(root_path + 'test.csv')
df2

         test_id  ...                                          question2
0              0  ...  Why did Microsoft choose core m3 and not core ...
1              1  ...        How much cost does hair transplant require?
2              2  ...                      What you send money to China?
3              3  ...                                  What foods fibre?
4              4  ...                     How their can I start reading?
...          ...  ...                                                ...
2345791  2345791  ...        What is the most study scene in twin peaks?
2345792  2345792  ...             How question FedEx packages delivered?
2345793  2345793  ...  Can a non-alcoholic restaurant be a huge success?
2345794  2345794  ...  What are the best and worst things examination...
2345795  2345795  ...      How do I out get rid of Erectile Dysfunction?

[2345796 rows x 3 columns]

## Data Analysis

In [ ]:
pd.set_option('max_rows', 10000)
pd.set_option('max_colwidth', 1000)

In [ ]:
df1=pd.read_csv(root_path + 'test.csv')
df1

         test_id  ...                                                                                                                         question2
0              0  ...                                                              Why did Microsoft choose core m3 and not core i3 home Surface Pro 4?
1              1  ...                                                                                       How much cost does hair transplant require?
2              2  ...                                                                                                     What you send money to China?
3              3  ...                                                                                                                 What foods fibre?
4              4  ...                                                                                                    How their can I start reading?
...          ...  ...                                                                                                                               ...
2345791  2345791  ...                                                                                       What is the most study scene in twin peaks?
2345792  2345792  ...                                                                                            How question FedEx packages delivered?
2345793  2345793  ...                                                                                 Can a non-alcoholic restaurant be a huge success?
2345794  2345794  ...  What are the best and worst things examination public transit in Visakhapatnam, Andhra Pradesh, India? How could it be improved?
2345795  2345795  ...                                                                                     How do I out get rid of Erectile Dysfunction?

[2345796 rows x 3 columns]

In [ ]:
df = pd.read_csv(file_name, sep="\t or ,")
 
df.drop_duplicates(subset=None, inplace=True)

df.to_csv(file_name_output, index=False)

NameError: ignored

In [ ]:
%load_ext google.colab.data_table

In [ ]:
df2=pd.read_csv(root_path + 'test_without_dupes.csv')
df2.describe()

In [ ]:
%unload_ext google.colab.data_table